---
layout: page
menu: sidebar
title: Events
permalink: /events/
---
	<!-- Main Area -->
	<div class="main-content" id="events-main-content">
	    
	    <!-- Jumbotron -->
	    <div class="jumbotron" id="events-jumbotron">
        	<h1>Startup Events in Houston</h1>
	    </div>
	    <!-- End of Jumbotron -->
		
    {% for event in site.data.events %}
		<!-- Event list from _data/events.yml -->
		<div class="inline-sec">
    		<div class="banner-heading-inline" id="event-{{ forloop.index }}-heading"></div>
    		
    		<div class="info-block-inline">
    			<h4>{{ event.title }}</h4>
    			<h5><i>{{ event.date }}</i> {% if event.location %}| <i>{{ event.location }}</i>{% endif %}</h5>
    			<p>{{ event.description }}</p>
          <p> {% if event.link %}<a href="{{ event.link }}" target="_blank">Learn more</a>{% endif %}</p>
    		</div>
		</div>
		<!-- End of event loop -->
		{% endfor %}
		
	</div>
	<!-- End of Main Area -->