<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>RED Labs - {{ page.title }}</title>
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="RED Labs" />
    <meta property="og:url" content="http://redlabs.uh.edu" />
    <meta property="og:title" content="RED Labs" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://redlabs.uh.edu/img/logos/main-logo.png" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta name="description" content="{{ site.description }}">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">

	<link href="/css/hover.css" rel="stylesheet">
	<!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    

	<!-- Bootstrap Core CSS -->
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">



	<!-- Custom CSS -->
	<link href="/css/universal.css" rel="stylesheet">

    
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/37db15aaa5.js"></script>
	
	<!-- Hover CSS -->
	<link href="/css/hover.css" rel="stylesheet">
	
	<!-- Custom Scripts -->
    <script src="/js/scripts.js"></script>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>