  {% include head.html %}
  {% include nav.html %}

	<!-- Main Area -->
	<div class="main-content" id="home-main-content">
		
		<!-- Top Section -->
		<div id="home-section-top">
			<div class="wrapper">
				<img src="./img/RL_letters_white.png">
				<h3 id="tagline">The University of Houston's startup accelerator and technology entrepreneurship program</h1>
				<a href="/about/"><button class="home-btn">Learn more</button></a>
			</div>
		</div>
		<!-- End of Top Section -->
		
		<!-- Bottom Section -->
		<div id="home-section-bottom">
		</div>
		<!-- End of Bottom Section -->
		
	</div>
	<!-- End of Main Area -->
  {% include footer.html %}

